<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true">
                                    Биржа грузоперевозок
                                </span>
                    </a>
                </h2>
                <p class="editContent">
                    Автоматизированная система поиска грузов для транспортных компаний
            
                </p>
              
            </div>
            <div class="col-lg-8 footer-right">
                <div class="w3layouts-news-letter">
                    В настоящее время слишком много посредников между грузовладельцем и грузоперевозчиком. Затрачиваемая грузовладельцем сумма на услуги перевозки уменьшается на более 40%, прежде чем эта стоимость сделки "дойдет" до транспортной компании.
                    Решение проблемы - создание условий для сделок без посредников с минимальными затратами.
                    
                </div>
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
                            Карта сайта</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li>
                                <a href="/" class="editContent">Главная</a>
                            </li>
                            <li>
                                <a href="/about" class="editContent">О нас</a>
                            </li>
                            <li>
                                <a href="{% url 'freights' %}" class="editContent">Грузы</a>
                            </li>
                            <li>
                                <a href="{% url 'cars' %}" class="editContent">Авто</a>
                            </li>
                            <li>
                                <a href="{% url 'news' %}" class="editContent">Новости</a>
                            </li>
                            <li>
                                <a href="{% url 'contacts' %}" class="editContent">Контакты</a>
                            </li>
                        </ul>
                    </div>
                  
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent">Email </h4>
                                <p class="editContent"><a href="mailto:m.s.fedoseeva@yandex.ru">m.s.fedoseeva@yandex.ru</a>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2021 Биржа грузоперевозок. All rights reserved | Design by
                <a href="#"> MARIA.</a>
            </p>
            <!-- move top icon -->
            <a href="#logot" class="move-top text-right col-md-2"><span
                    class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>