{% extends 'base.html' %}
    <div id="page"  class="page">
    {%include 'include/header.html'%}
    </div>
{% block content%}
<div class="page-block">
    <h3 style="text-align: center;">Контакты</h3>


    <div  class="about-block">
        <div class="col-md-6 text" >
          
            <h3>Если у Вас есть вопросы или предложения, напишите!</h3>
    </div>
    <div style="max-width:650px; width:100%">
        <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script><iframe src="https://forms.yandex.ru/u/60bf45e09cf52f236384efcf/?iframe=1" frameborder="0" name="ya-form-60bf45e09cf52f236384efcf" width="375"></iframe>
    </div>
</div>
</div>
{% endblock content%}